#.yml νμΌμ€ μ•„λμ™€ κ°™μ΄  --- λ¥Ό ν†µν•΄ νμΌ λ¶„ν• μ΄ κ°€λ¥ν•©λ‹λ‹¤. μ΄λ΅ μΈν•΄ μ—¬λ¬ ν™κ²½μ—μ„ μ‚¬μ©λ  κ°’μ„ ν•λ‚μ νμΌμ— μ‘μ„±ν•  μ μμµλ‹λ‹¤. πƒ

#default κ³µν†µμ„¤μ •
spring:
    jpa:
        show-sql: false
server:
    servlet:
        encoding:
            charset: UTF-8
    tomcat:
        uri-encoding: UTF-8
        
--- # local μ„¤μ •
spring:
    config:
        activate:
            on-profile: "db-local"
    jpa:
        show-sql: true
    datasource:
        url: jdbc:mariadb://localhost:3306/test
        driver-class-name: org.mariadb.jdbc.Driver
        username: root
        password: root
server:
    port: 8030
--- # dev μ„¤μ •
spring:
    config:
        activate:
            on-profile: "db-dev"
    jpa:
        show-sql: true
    datasource:
        url: jdbc:mariadb://localhost:3306/test
        driver-class-name: org.mariadb.jdbc.Driver
        username: root
        password: root
server:
    port: 8031
